In [ ]:
#https://github.com/UB-Mannheim/tesseract/wiki

##1) read documents
##2. limpienza de imagenes
##3. Extract texto: https://nanonets.com/blog/ocr-with-tesseract/
##4. limpiar texto 
##4. extract tabla: https://blog.chezo.uno/tabula-py-extract-table-from-pdf-into-python-dataframe-6c7acfa5f302

In [357]:
from io import StringIO ## for Python 3
import pandas as pd
import numpy as np
import cv2
import pytesseract
from pytesseract import Output
import re

pytesseract.pytesseract.tesseract_cmd  = 'C:/Program Files/Tesseract-OCR/tesseract'


path_imag = 'ejemplos_estados_financieros/temp_file.png'

In [378]:
#cargar imagen
img = cv2.imread(path_imag)

gris = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
suavi = cv2.GaussianBlur(gris,(3,3),0)
#kern = np.array([[0,1,0],[1,-4,1],[0,1,0]])
#lapl = cv2.filter2D(suavi,-1,kern)
ret,Binario = cv2.threshold(suavi,40,255,cv2.THRESH_BINARY)

d = pytesseract.image_to_string(Binario, output_type=Output.DICT)

texto_pag = d['text']

print(texto_pag)

Estado de Resultados Consolidados

Por el ano terminado el 31 de diciembre de: 2019 2018 2017
Ventas Netas 291.926 289.320 268.485
Utiidad Bruta 153.742 153.651 143.720
Utilidad antes de otros gastos. neto 24.432 23.089 18.792
Utilidad de operacion 20.419 18.509 17.472
Resultado Financiere Integral 8.560 6.995 5.755
Utilidad antes de Impuestos ala Utilidad 12.108 11.708 11.951
Impuesto ala Utihdad 4.733 4.897 6.282
Utilidad Neta 7.375 6.811 5.669

Utihdad Antes de Financianmiento. Intereses

Deprec acion y Amort zacion 33.427 31.705 27 289

In [409]:

monday = pytesseract.image_to_string(suavi, lang='spa')

#monday_lap = re.sub('\n[A-z]+\n','',monday)
monday_lap = re.sub(' ','_',monday)

mon = pd.read_csv(StringIO(monday_lap),sep='\s',lineterminator=r'\n', header=None, index_col=None)

<ipython-input-409-15eec65fbd4d>:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  mon = pd.read_csv(StringIO(monday_lap),sep='\s',lineterminator=r'\n', header=None, index_col=None)

In [411]:
mon

                                                    0
0               Ventas_Netas”_291,926_289,320_268,485
1             Costo_de_Ventas_138,184_135,669_124,765
2              Utilidad_Bruta_153,742_153,651_143,720
3   Gasto_de_Distribución_y_Venta_110,234_109,701_...
4        Gasto_de_Administración_16,641_19,006_18,134
5             Gastos_de_Integración_2,435_1,855_2,929
6   Utilidad_antes_de_otros_gastos,_neto_24,432_23...
7                Otros_Gastos,_Neto_4,013_4,580_1,320
8          Utilidad_de_operación_20,419_18,509_17,472
9          Intereses_a_cargo,_Netos_8,001_7,282_5,558
10    (Ganancia)_Pérdida_Cambiaria,_neta_445_(85)_118
11  (Ganancia)_pérdida_por_posición_monetaria_114_...
12    Resultado_Financiero_Integral_8,560_6,995_5,755
13  Participación_en_los_Resultados_de_compañías_2...
14                                          asociadas
15  Utilidad_antes_de_Impuestos_a_la_Utilidad_12,1...
16                 Impuesto_Causado_3,926_3,510_4,444
17                  Impuesto_Diferido_723_1,387_1,838
18           Impuesto_a_la_Utilidad_4,733_4,897_6,282
19                    Utilidad_Neta_7,375_6,811_5,669
20       Participación_Controladora_6,319_5,808_4,629
21    Participación_No_Controladora_1,056_1,003_1,040
22          Utilidad_Básica_por_Acción_1.36_1.24_0.98
23                Dividendo_por_Acción_0.45_0.35_0.29
24       Utilidad_Antes_de_Financiamiento,_Intereses,
25   Depreciación_y_Amortización_33,427_31,705_27,289

In [410]:
#mon[0].str.split('_',expand=True)

      0    1
0   NaN  NaN
1   NaN  NaN
2   NaN  NaN
3   NaN  NaN
4   NaN  NaN
5   NaN  NaN
6   NaN  NaN
7   NaN  NaN
8   NaN  NaN
9   NaN  NaN
10  NaN  NaN
11  NaN  NaN
12  NaN  NaN
13  NaN  NaN
14  NaN  NaN
15  NaN  NaN
16  NaN  NaN
17  NaN  NaN
18  NaN  NaN
19  NaN  NaN
20  NaN  NaN
21  NaN  NaN
22  NaN  NaN
23  NaN  NaN
24  NaN  NaN
25  NaN  NaN

In [407]:
mon = mon[0].str.rsplit('_',1,expand=True).apply(lambda x : x.str.strip(),1)
#mon= mon[0].str.rsplit('_',1,expand=True).apply(lambda x : x.str.strip())              
#mon= mon[0].str.rsplit('_',1,expand=True).apply(lambda x : x.str.strip())              
mon

                                                   0                1
0                              Ventas_Netas”_291,926          289,320
1                            Costo_de_Ventas_138,184          135,669
2                             Utilidad_Bruta_153,742          153,651
3              Gasto_de_Distribución_y_Venta_110,234          109,701
4                     Gasto_de_Administración_16,641           19,006
5                        Gastos_de_Integración_2,435            1,855
6        Utilidad_antes_de_otros_gastos,_neto_24,432           23,089
7                           Otros_Gastos,_Neto_4,013            4,580
8                       Utilidad_de_operación_20,419           18,509
9                     Intereses_a_cargo,_Netos_8,001            7,282
10            (Ganancia)_Pérdida_Cambiaria,_neta_445             (85)
11     (Ganancia)_pérdida_por_posición_monetaria_114            (202)
12               Resultado_Financiero_Integral_8,560            6,995
13  Participación_en_los_Resultados_de_compañías_249              194
14                                         asociadas             None
15  Utilidad_antes_de_Impuestos_a_la_Utilidad_12,108           11,708
16                            Impuesto_Causado_3,926            3,510
17                             Impuesto_Diferido_723            1,387
18                      Impuesto_a_la_Utilidad_4,733            4,897
19                               Utilidad_Neta_7,375            6,811
20                  Participación_Controladora_6,319            5,808
21               Participación_No_Controladora_1,056            1,003
22                   Utilidad_Básica_por_Acción_1.36             1.24
23                         Dividendo_por_Acción_0.45             0.35
24                                 Utilidad_Antes_de  Financiamiento,
25                Depreciación_y_Amortización_33,427           31,705

In [404]:
mon

                                                    0
0               Ventas_Netas”_291,926_289,320_268,485
1             Costo_de_Ventas_138,184_135,669_124,765
2              Utilidad_Bruta_153,742_153,651_143,720
3   Gasto_de_Distribución_y_Venta_110,234_109,701_...
4        Gasto_de_Administración_16,641_19,006_18,134
5             Gastos_de_Integración_2,435_1,855_2,929
6   Utilidad_antes_de_otros_gastos,_neto_24,432_23...
7                Otros_Gastos,_Neto_4,013_4,580_1,320
8          Utilidad_de_operación_20,419_18,509_17,472
9          Intereses_a_cargo,_Netos_8,001_7,282_5,558
10    (Ganancia)_Pérdida_Cambiaria,_neta_445_(85)_118
11  (Ganancia)_pérdida_por_posición_monetaria_114_...
12    Resultado_Financiero_Integral_8,560_6,995_5,755
13  Participación_en_los_Resultados_de_compañías_2...
14                                          asociadas
15  Utilidad_antes_de_Impuestos_a_la_Utilidad_12,1...
16                 Impuesto_Causado_3,926_3,510_4,444
17                  Impuesto_Diferido_723_1,387_1,838
18           Impuesto_a_la_Utilidad_4,733_4,897_6,282
19                    Utilidad_Neta_7,375_6,811_5,669
20       Participación_Controladora_6,319_5,808_4,629
21    Participación_No_Controladora_1,056_1,003_1,040
22          Utilidad_Básica_por_Acción_1.36_1.24_0.98
23                Dividendo_por_Acción_0.45_0.35_0.29
24       Utilidad_Antes_de_Financiamiento,_Intereses,
25   Depreciación_y_Amortización_33,427_31,705_27,289